# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Cloned repositories
backend/repositories/



# Node
frontend/node_modules/
frontend/dist/

# Environment variables
.env
backend/.env
frontend/.env

# VS Code
.vscode/

# OS files
.DS_Store

Thumbs.db
# ChromaDB
backend/vector_db/
